$body-bg: #6c757d;

$body-color: #111;

$theme-colors: (
  "primary": rgb(14, 126, 195),
  "secondary":#6c757d,
  "success":#198754,
  "danger": #dc3545,
  "warning": #ffc107,
  "info":#0dcaf0,
  "light":#f8f9fa,
  "dark":#555454
);

/*$border-radius: 0;
$border-width: 0;*/

@import '~bootstrap/scss/bootstrap.scss';