.card{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px !important;
}
.form-control{
    background-color: #fff !important;
}
.form-control:disabled{
    background-color: #e7e7e7 !important;
}
.form-control:focus{
    background-color: #fff !important;
}
.form-check-input:checked{
    background-color: #0e7ec3 !important;
    border-color: #0e7ec3 !important;
}
.form-check-input{
    background-color: #fff !important;
}
button .close{
    display: none !important;
}